[Unit]
Description=Bond watcher for UCS B Series bondedinterface
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/apic-bond-watch
KillMode=process
Restart=always
EnvironmentFile=-/etc/environment

[Install]
WantedBy=multi-user.target
