[Unit]
Description=Neutron APIC Service Agent
After=syslog.target network.target

[Service]
Type=simple 
User=neutron 
ExecStart=/usr/bin/neutron-cisco-apic-service-agent --config-file=/etc/neutron/neutron.conf --config-file=/etc/neutron/plugins/ml2/ml2_conf_cisco.ini --log-file=/var/log/neutron/cisco-apic-service-agent.log
PrivateTmp=false
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target

